{% extends "admin_base.html" %}

{% block title %}Student Profiles{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/admin_dashboard/admin_students_profile.css">
{% endblock %}

{% block content_header %}
    <h1 class="dashboard-title">Student Profiles</h1>
{% endblock %}

{% block content %}
<div class="students-page-container">
    <div class="header-actions">
        <div class="filter-container">
            <label for="student-search-filter" class="sr-only">Search Student</label>
            <input type="text" id="student-search-filter" placeholder="Search by Name or Student ID" class="search-input">
            <button onclick="updateStudentsTable()" class="search-button">Search</button>
        </div>
    </div>

    <div class="students-table-container">
        <table class="students-table" id="students-table">
            <thead>
                <tr>
                    <th class="sortable" data-column="student_number">Student ID</th>
                    <th class="sortable" data-column="first_name">First Name</th>
                    <th class="sortable" data-column="last_name">Last Name</th>
                    <th class="sortable" data-column="year_level">Year Level</th>
                    <th class="sortable" data-column="section">Section</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/admin_dashboard/admin_students_profile.js"></script>
{% endblock %}