{% extends 'base.html' %}

{% block title %}Membership and Payments {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/student_dashboard.css') }}">
{% endblock %}

{% block content %}
<h1> Membership Status </h1>
<table class="payment-table">
    <thead>
        <tr>
            <th>Academic Year</th>
            <th>Semester</th>
            <th>Fee</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2023-2024</td>
            <td>1st Semester</td>
            <td>$100</td>
            <td>Pending</td>
            <td><button class="pay-button">PAY</button></td>
        </tr>
        <tr>
            <td>2023-2024</td>
            <td>2nd Semester</td>
            <td>$100</td>
            <td>Pending</td>
            <td><button class="pay-button">PAY</button></td>
        </tr>
        <tr>
            <td>2024-2025</td>
            <td>1st Semester</td>
            <td>$100</td>
            <td>Pending</td>
            <td><button class="pay-button">PAY</button></td>
        </tr>
        <tr>
            <td>2024-2025</td>
            <td>2nd Semester</td>
            <td>$100</td>
            <td>Pending</td>
            <td><button class="pay-button">PAY</button></td>
        </tr>
        <tr>
            <td>2025-2026</td>
            <td>1st Semester</td>
            <td>$100</td>
            <td>Pending</td>
            <td><button class="pay-button">PAY</button></td>
        </tr>
    </tbody>
</table>
{% endblock %}