{% if request.headers.get('x-spa') %}
    <span id="spa-title-hint" style="display:none;">{% block title %}{% endblock %}</span>
    <div id="spa-head-hint" style="display:none;">{% block head %}{% endblock %}</div>
    <div class="content-header">
        {% block content_header %}{% endblock %}
    </div>
    <div class="content">
        <div class="content-wrapper">
            {% block content %}{% endblock %}
            {% block scripts %}{% endblock %}
        </div>
    </div>
{% else %}
    {% extends "admin_base.html" %}
{% endif %}