<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup Form</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/sound.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <video autoplay loop muted playsinline id="background-video">
        <source src="../static/videos/Garp GALAXY IMPACT One Piece Episode 1114 ｜ 4K 60FPS ｜.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div id="app">
        </div>

    <button id="soundToggle" class="sound-toggle-button">
        <i class="fas fa-volume-up"></i>
    </button>

    <script src="../static/js/script.js"></script>
    <script src="../static/js/sound.js"></script>
</body>
</html> 